<!DOCTYPE html>
<html>
  <head>
    <title>Combine</title>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>

    </header>
    <%= yield %>
    <footer>

    </footer>
  </body>
</html>
